# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/out/
/.next/
/src/.next

# production
/build

# misc
.idea
.DS_Store
*.pem
.gitattributes

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/src/.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
